<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
</head>
<body>
      <h1 class="text-2xl text-center bg-red-600">This is login page</h1>
    <form  class="bg-green-600 text-center p-10" action="/login" method="post">
        <input class="border-solid border-2 border-black-600 border-border-zinc-500 p-2 rounded-md" type="text" placeholder="enter the username" name="username"><br><br>
        <input class="border-solid border-2 border-black-600 border-border-zinc-500 p-2 rounded-md" type="text" placeholder="enter the password" name="password"><br><br>
        <button class="border-solid border-2 border-black-600 border-border-zinc-500 p-2 rounded-md">submit</button>
    </form>
</body>
</html>