<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>

</head>
<body>
    <h1 class="bg-red-600 text-2xl text-center">This is profile page</h1>
   
    <!-- <br><br> -->

    <div class="">
    <form class="bg-green-600 text-center p-10  " action="/profile" method="post">
        <input class="border-solid border-2 border-black-600 border-border-zinc-500 p-2 rounded-md" type="text" placeholder="enter the name" name="name"><br><br>
        <input class="border-solid border-2 border-black-600 border-border-zinc-500 p-2 rounded-md" type="text" placeholder="enter the username" name="username"><br><br>
        <input class="border-solid border-2 border-black-600 border-border-zinc-500 p-2 rounded-md" type="text" placeholder="enter the email" name="email"><br><br>
        <button class="border-solid border-2 border-black-600 border-border-zinc-500 p-2 rounded-md">submit</button><br><br>
        <a href="/update-password">update password</a><br><br>
        <a href="/logout">logout</a>
    </form>
</div>
    <br><br>
    
</body>
</html>